[data-theme="dark"]{
  --primary: #89a1ef;
  --secondary: #E84855;
  --light: #fff;
  --dark: #000; 
  --diabled: #e7e7e7;
  --background: #0a122a;
  --color: #fff;
  --list: #292F36;
}

[data-theme="light"]{
  --primary: #89a1ef;
  --secondary: #E84855;
  --light: #fff;
  --dark: #000;
  --diabled: #e7e7e7;
  --background: #e7e7e7;
  --color: #000;
  --list: #fff;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100vh;
  background-color: var(--background);
}

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 5px;
}

.list {
  margin: 25px auto;
  padding: 25px;
  background-color: var(--list);
  width: 100%;
  max-width: 350px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateRight {
  display: flex;
  align-items: center;
  color: var(--color);
}

#dateNumber {
  font-size: 50px;
}

#dateText {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color);
}

#dateMonth,
#dateNumber,
#dateText  {
  font-weight: bold;
}

#dateMonth,
#dateYear {
  margin-left: 7px;
  font-size: 20px;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 15px;
}

input {
  border: none;
  padding-left: 10px;
  background-color: var(--diabled);
}

input:focus {
  outline: none;
}

.addTaskButton,
.orderButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.addTaskButton {
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  background-color: var(--diabled);
}

.orderButton {
  background-color: var(--secondary);
  color: var(--light);
}

.task {
  background-color: var(--primary);
  padding: 15px;
  margin-top: 15px;
  color: var(--light);
  cursor: pointer;
}

.done {
  background-color: var(--diabled);
  text-decoration: line-through;
  color: var(--dark);
}

/* Estilos del switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}